<!--
- here we manually add the home view to the views/pages directory
- same naming convention we used inside our routes file
-->
<h1>welcome home, obi one</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category %>
    </li>
  <% end %>
</ul>