<h3>Lots of restaurants</h3>

<!-- example of ERB time template injection -->
<p>This time is <%= Time.now %></p>

<!-- instantiate the food categories -->
<% categories = %w(indian sushi mexican) %>

<!-- list the categories -->
<ul>
  <% categories.each do |category| %>
    <li><%= category %></li>
  <% end %>
</ul>

<!-- loop on array decalred in the restaurants controller -->
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant[:name] %> <%= restaurant[:address] %> </li>
  <% end %>
</ul>
